<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="BoundsBeater.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <system.diagnostics>
    <sources>
      <!-- This section defines the logging configuration for My.Application.Log -->
      <source name="DefaultSource" switchName="DefaultSwitch">
        <listeners>
          <add name="FileLog" />
          <!-- Uncomment the below section to write to the Application Event Log -->
          <!--<add name="EventLog"/>-->
        </listeners>
      </source>
    </sources>
    <switches>
      <add name="DefaultSwitch" value="Information" />
    </switches>
    <sharedListeners>
      <add name="FileLog" type="Microsoft.VisualBasic.Logging.FileLogTraceListener, Microsoft.VisualBasic, Version=8.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a, processorArchitecture=MSIL" initializeData="FileLogWriter" />
      <!-- Uncomment the below section and replace APPLICATION_NAME with the name of your application to write to the Application Event Log -->
      <!--<add name="EventLog" type="System.Diagnostics.EventLogTraceListener" initializeData="APPLICATION_NAME"/> -->
    </sharedListeners>
  </system.diagnostics>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <userSettings>
    <BoundsBeater.My.MySettings>
      <setting name="OSMCache" serializeAs="String">
        <value>T:\BoundsBeater\OSMCache.osm</value>
      </setting>
      <setting name="BoundaryXML" serializeAs="String">
        <value>%USERPROFILE%\Google Drive\BoundsBeater\UKBoundaries.xml</value>
      </setting>
      <setting name="ListColumnWidth" serializeAs="String">
        <value />
      </setting>
      <setting name="ListColumnOrder" serializeAs="String">
        <value />
      </setting>
      <setting name="ListColumnSorting" serializeAs="String">
        <value />
      </setting>
      <setting name="xapiAPI" serializeAs="String">
        <value>http://overpass-api.de/api/xapi</value>
      </setting>
      <setting name="MaxCacheAge" serializeAs="String">
        <value>300</value>
      </setting>
      <setting name="NominatimURL" serializeAs="String">
        <value>http://nominatim.openstreetmap.org/search/gb/{0}?format=xml&amp;accept-language=en&amp;featuretype=city&amp;viewbox={1},{2},{3},{4}&amp;bounded=1</value>
      </setting>
      <setting name="frmAnalyze_Splitter1" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="frmAnalyze_Splitter2" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="LatLongFile" serializeAs="String">
        <value>C:\Users\Colin\Downloads\Parishes_December_2016_Full_Extent_Boundaries_in_England_and_Wales.csv</value>
      </setting>
      <setting name="AnalyzeUrl" serializeAs="String">
        <value>http://ra.osmsurround.org/analyzeRelation?relationId={id}&amp;noCache=true&amp;_noCache=on</value>
      </setting>
      <setting name="BrowseZoom" serializeAs="String">
        <value>14</value>
      </setting>
      <setting name="frmAnalyze_MinMax" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="InstantSearchCount" serializeAs="String">
        <value>20</value>
      </setting>
    </BoundsBeater.My.MySettings>
  </userSettings>
  
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
<system.data>
    <DbProviderFactories>
      <remove invariant="System.Data.SQLite.EF6" />
      <add name="SQLite Data Provider (Entity Framework 6)" invariant="System.Data.SQLite.EF6" description=".NET Framework Data Provider for SQLite (Entity Framework 6)" type="System.Data.SQLite.EF6.SQLiteProviderFactory, System.Data.SQLite.EF6" />
    <remove invariant="System.Data.SQLite" /><add name="SQLite Data Provider" invariant="System.Data.SQLite" description=".NET Framework Data Provider for SQLite" type="System.Data.SQLite.SQLiteFactory, System.Data.SQLite" /></DbProviderFactories>
  </system.data></configuration>